#output-about{
    border: 1px solid rgb(179, 179, 179);
    border-radius: 5px;
    width: 90%;
}
.sectiontwo {
    background-color: #1c2331;
  }
  .sectiontwo .a {
    height: 600px;
  }
  .sectiontr .b {
    height: 600px;
  }