.top-cf {
  width: 216px;
}
.top-cf h1{
  text-decoration: underline rgb(179, 179, 179) 2px;
  text-underline-offset: 10px;
}
.certificates {
    padding-bottom: 50px;
    background-color: #1c2331;
    border-bottom: 1px solid rgb(179, 179, 179);
    border-top: 1px solid rgb(179, 179, 179);
  }