.top-cf {
  width: 216px;
}
.top-cf h1{
  text-decoration: underline rgb(179, 179, 179) 2px;
  text-underline-offset: 10px;
  -webkit-text-decoration: underline rgb(179, 179, 179) 2px;
  -webkit-text-underline-offset: 10px;
}
.certificates {
    padding-bottom: 50px;
    background-color: #1c2331;
  }
  .card-selector {
    cursor: pointer;
  }
  .cf-open i {
    color: #1c2331;
    cursor: pointer;
    font-size: 62px;
    position: absolute;
    right: 26px;
    top: 30px;
}
  @media only screen and (max-width: 767px) {
    .top-cf {
      align-self: center;
    }
    .top-cf h1 {
      text-align: center;
    }
  }