#top-cm{
    border-bottom: 1px solid rgb(179, 179, 179);
    width: 215.5px;
}
#top-cm h1 {
  color: white;
}
.contact-me {
    padding-bottom: 50px;
    background-color: #1c2331;
    border-bottom: 1px solid rgb(179, 179, 179);
    border-top: 1px solid rgb(179, 179, 179);
  }