.home-header {
  height: 400px;
  max-width: 1400px;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.container-wrapper-index {
  position: relative;
  background-color: white;
  border-radius: 40%;
}
.svg-wave {
  position: absolute;
  bottom:0;
  left: 0;
}
.home-header img {
  border-end-end-radius: 50%;
  width: 300px;
}
.text-wrapper {
  margin-left: 60px;
}
.text-wrapper a {
  border: none;
  padding: 10px 24px;
  text-decoration: none;
  border: 2px;
  background-color: #1c2331;
  color: white;
  cursor: pointer;
}
.text-wrapper a:hover {
  color: white;
}
.home-header div:last-child div h1,
.home-header div:last-child div h4 {
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #1c2331;
  letter-spacing: 2px;
  font-size: 18px;
}

.home-header div:last-child div h4 {
  margin-bottom: 30px;
}
.home-header div:last-child div h1 {
  font-size: 54px;
}
.text-wrapper b {
  width: 1000;
  color: rgb(128, 15, 0);
  letter-spacing: 2.4px;
}
@media (max-width: 1196px) {
  .text-wrapper {
    margin-left: 94px;
  }
}
@media (max-width: 767px) {
  .home-header {
    height: 700px;
    left: 0;
    transform: translate(0, 0);
  }
  .home-header img {
    margin-top: -50px;
    border-end-end-radius: 0;
  }
  .container-wrapper-index {
    border-radius: 0%;
  }
  .text-wrapper {
    text-align: center;
    position: relative;
    top: -50px;
  }
  .home-header div:first-child {
    margin: 40px auto 10px auto;
  }
  .home-header div:last-child div {
    margin: 30px auto;
  }
}
