#output-top-pr h1{
  text-decoration: underline rgb(179, 179, 179) 2px;
  text-underline-offset: 10px;
}
.projects {
    padding-bottom: 50px;
    background-color: #1c2331;
    border-bottom: 1px solid rgb(179, 179, 179);
    border-top: 1px solid rgb(179, 179, 179);
  }
  .projects .card {
    cursor: pointer;
    border-radius: 10px;
    border: none;
    position: relative;
  }
  .projects .card:hover {
      transform: scale(1.1);
  }
  .bg-card {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
  }