#output-top-pr{
    border-bottom: 1px solid rgb(179, 179, 179);
    width: 147px;
}
#output-top-pr h1 {
  color: white;
}
.projects {
    padding-bottom: 50px;
    background-color: #1c2331;
    border-bottom: 1px solid rgb(179, 179, 179);
    border-top: 1px solid rgb(179, 179, 179);
  }
  .projects .card {
    cursor: pointer;
    border-radius: 10px;
    border: none;
    position: relative;
  }
  .projects .card:hover {
      transform: scale(1.1);
  }
  .bg-card {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
  }