@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Raleway:wght@700&display=swap");
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Archivo", sans-serif;
  letter-spacing: 1.6px;
}
#navbarSupportedContent {
    margin-right: 34px;
}
.nav-link {
  color: white;
}
.nav-logo-c {
  position: relative;
  text-align: center;
  height: 58px;
  left: -22px;
  margin-left: 25px;
  cursor: pointer;
}
.logo-footer-div {
  position: relative;
  text-align: center;
  height: 58px;
  cursor: pointer;
}
.nav-logo-c a, .logo-footer-div a {
  color: white;
  text-decoration: none;
}
.nav-logo-c a:hover, .logo-footer-div a:hover {
  color: white;
}
.nav-logo-c b, .logo-footer-div b {
  color: initial;
  position: relative;
  top: -12px;
  padding: 0 20px;
  background-color: white;
  font-size: 12px;
}
@media (max-width: 767px) {
  .logo-footer-div {
    left: 0;
    margin-left: 0px;
    margin: -70px auto 0px auto;
  }
}
